// Place all the styles related to the admins::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-top {
	width: 280px;
	background: #eeeeee;
	margin-bottom: 30px;
}

.genre-add {
	width: 100%;
	margin-bottom: 30px;
}