<h1>Admins::Members#index</h1>
<div class="col-xs-9">
		<h2>Members</h2>
		<!--users一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @members.each do |member| %>
				<tr>
					<td><%= member.id %></td>
					<td>
						<%= member.last_name %>
						<%= member.first_name %>
					</td>
					<td><%= member.email %></td>
					<td><% if (member.is_unsubscribe_status == true) %>退会済
	                <% else %>有効<% end %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--users一覧 -->
	</div>