<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<% @orders.each do |order| %>
					<tr>
						<th>
							<!-- itemテーブルのgenre_idカラムに　genre.idを追加し、genre.nameを表示させる -->
							<th><%= order.member.postal_code %></th>
							<th><%= order.member.address %></th>
							<th><%= order.member.last_name %></th>
							<th><%= order.member.first_name %></th>

						</th>
					</tr>
				<% end %>

