<div class="row">
	<div class="col">
		<h1 class="text-center" style="font-size: 70px">About</h1>
		<p class="text-center">
			ながのCakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。<br>
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
			ぜひご注文ください。
		</p>
		<div class="col-md-6 col-md-offset-3 main-visual" style="height: 260px">

		</div>
	</div>
</div>