<div class="row">
	<h1>Homes#top<%= link_to "管理者ログイン", new_admin_session_path %></h1>
</div>

<div class="container-fluid">
	<div class="row sampleRow">
		<div class="col-xs-4 col-md-2">
			<table class="table table-bordered">
				<tr>
					<th>ジャンル検索</th>
				</tr>
				
			</table>
		</div>

		
		<div class="col-md-8" >
			<div class="main-visual">
		    <div class="main-visual-content">
		      <p class="main-visual-text">
		        ようこそ、NaganoCakeへ！<br>
		        このサイトは、ケーキ販売のECサイトになります。<br>
		        会員でない方も商品の閲覧はできますが、<br>
		        購入には会員登録が必要になります。
		      </p>
		    </div>
		  </div>
		</div>
	</div>
</div>
