<h1>Items#index</h1>
<div class="container-fluid">
	<div class="row sampleRow">
		<div class="col-xs-6 col-md-2" style="background-color: #f99;">
			<table class="table">
				<h4>ジャンル検索</h4>
				<% @genres.each do |genre| %>
					<li style="list-style: none;"><%= genre.name %></li>
				<% end %>
			</table>
		</div>

	<div class="col-md-10" style="background-color: #99f;" >


			<h4>商品一覧<span>(全ｘ件)</span></h4>
	            <% @items.each do |item| %>

				<div class="col-xs-6 col-md-3 item-index" >
				<%= item.name %></br>
	            <%= item.tax_excluded_price %></div>

	            <% end %>

		<!-- <div class="clearfix visible-xs visible-sm"></div> -->

			<%= paginate @items %>
		</div>
	</div>
</div>
