// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-item-index-title {
	width: 192px;
	padding: 0 15px;
	background: #eeeeee;
}

.cart-item-index-btn {
	width: 90%;
}

.cart-order-index-btn {
	width: 200px;
	text-align: center;
}