// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.success-btn {
	margin-left: 100px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.destination {
	width: 400px;
}

.index-deliveries-title {
	width: 164px;
	background: #eeeeee;
	padding: 10px 15px;
}