// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-btn {
    border-spacing: 10px 0px;
}
.show-member-title {
	width: 120px;
	background: #eeeeee;
	padding: 10px 15px;
}
.edit-member-title {
	width: 138px;
	background: #eeeeee;
	padding: 10px 15px;
}
