// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 以下　order-new

.order-new-title {
	width: 174px;
	background: #eeeeee;
	padding: 0 15px;
}
.order-new-choice {
	font-size: 20px;
}
.order-new-choice-item {
	margin-left: 55px;
}
.order-new-choice-item-address {
	margin-left: 25px;
}
.order-new-btn {
	margin-top: 20px;
}

//　以下  order-confirm

.order-confirm-title {
	width: 174px;
	background: #eeeeee;
	padding: 0 15px;
}
.order-confirm-choice-item {
	font-size: 16px;
}

//　以下  order-done
.order-done-title {
	text-align: center;
	height: 500px;
	line-height: 500px;
}